<?xml version="1.0" encoding="UTF-8" ?>
    <!-- https://build.phonegap.com/docs/config-xml -->
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "in.forwardbias.helloworld"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Hello World</name>

    <description>
        Just says hello world
    </description>

    <author href="https://helloworld.forwardbias.in" email="girish@forwardbias.in">
        Girish ramakrishnan
    </author>

</widget>

